.downloadButton {
	background-color: var(--background-start-rgb);
	border: none;
	border-radius: 8px;
	box-sizing: border-box;
	color: var(--text-color);
	cursor: pointer;
	display: inline-block;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		'Helvetica Neue', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	margin: 0;
	outline: none;
	padding: 13px 23px;
	position: relative;
	text-align: center;
	text-decoration: none;
	touch-action: manipulation;
	transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
		transform 0.1s;
	user-select: none;
	-webkit-user-select: none;
	width: auto;
}

.downloadButton:hover {
	box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
	transition: box-shadow 0.2s;
}

.downloadButton:focus-visible {
	box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
	transition: box-shadow 0.2s;
}

.downloadButton:active {
	background-color: #f7f7f7;
	border-color: #000000;
	transform: scale(0.96);
}

.downloadButton:disabled {
	border-color: #dddddd;
	color: #dddddd;
	cursor: not-allowed;
	opacity: 1;
}

.inputsList {
	/* background-color: aqua; */
	display: grid;
	grid-auto-rows: auto;
	gap: 1rem;
	padding: 1rem 0;
}
.formField {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem;
}

.numberInput {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 2px solid var(--text-color);
	outline: 0;
	font-size: 1.3rem;
	color: var(--text-color);
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;

	/* &::placeholder {
		color: transparent;
	}

	&:placeholder-shown ~ .form__label {
		font-size: 1.3rem;
		cursor: text;
		top: 20px;
	} */
}

/* .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #9b9b9b;
} */

/* .form__field:focus {
	~ .form__label {
		position: absolute;
		top: 0;
		display: block;
		transition: 0.2s;
		font-size: 1rem;
		color: #11998e;
		font-weight: 700;
	}
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, #11998e, #38ef7d);
	border-image-slice: 1;
} */
/* reset input */
/* .form__field {
	&:required,
	&:invalid {
		box-shadow: none;
	}
} */
/* demo */
/* body { */
/* font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 1.5rem;
	background-color: #222222;
} */
