.main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.inputGrid {
	padding: 2rem 4rem;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.title {
	margin: 0;
}

.inputSection {
	padding: 0.5rem;
}

.displaySection {
	flex: 1;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	display: flex;
	flex-direction: column;
}
